:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4CB256;
  --video: #4A4EB7;
  --location: #EF5757;
  --shedule: #E1AE4A;
}

.App {
  overflow: hidden;
  color: var(--black);
  background: #f3f3f3;
  padding: 1rem 1rem;
}

/* blur */
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #a6ddf0;
  filter: blur(72px);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition: all 100ms ease-out;
}

.button:hover {
  color: var(--orange);
  border: 2px solid var(--orange);
  cursor: pointer;
  background: transparent;
}

.button:disabled{
  background: silver;
  pointer-events: none;
}


::-webkit-scrollbar {
  display: none;
}



/* Form Styling */
.infoForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.infoInput{
  border: none;
  outline: none;
  background-color: var(--inputColor);
  border-radius: 8px;
  padding: 20px;
  flex:1;
}

.infoForm>div{
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 90%;
}

.infoButton{
  width: 6rem;
  height: 2rem;
  align-self: flex-end;
}

img {
  object-fit: cover;
}

/*!* -------- AUTH ---------- *!*/
/*@import url("./auth.css");*/

/*!* -------- LOADING ---------- *!*/
/*@import url("./loading.css");*/

/*!* -------- Header ---------- *!*/
/*@import url("./header.css");*/

/*!* -------- Avatar ---------- *!*/
/*@import url("./avatar.css");*/

/*!* -------- Header ---------- *!*/
/*@import url("./header.css");*/

/*!* -------- Profile ---------- *!*/
/*@import url("./profile.css");*/

/*!* -------- Home1 ---------- *!*/
/*@import url("./home.css");*/

/*!* -------- Status Modal ---------- *!*/
/*@import url("./status_modal.css");*/

/*!* -------- Comments ---------- *!*/
/*@import url("./comments.css");*/

/*!* -------- Post Thumb ---------- *!*/
/*@import url("./post_thumb.css");*/

/*!* -------- Message---------- *!*/
/*@import url("./message.css");*/

/*!* -------- Icons---------- *!*/
/*@import url("./icons.css");*/

/*!* -------- Call Modal---------- *!*/
/*@import url("./call_modal.css");*/

/*@import url("../components/ProfileSide/ProfileSide.css");*/
/*@import url("./LogoSearch.css");*/
/*@import url("../components/ProfileCard/ProfileCard.css");*/
/*!* --------- Responsive ------ *!*/
@media (max-width: 766px){
  .header .navbar .logo{
    display: none;
  }
  .header .menu{
      width: 100%;
      height: 40px;
  }
  .header .menu .navbar-nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .header .search_form{
      width: 100%;
  }
  .header .logo{
      margin: auto;
  }
  .header .logo h1{
      font-size: 1.5rem;
  }
  
  .message{
    height: calc(100vh - 100px);
  }
  .right_mess,
  .left_mess{
    display: none;
  }
  .status{
    padding: 20px 10px;
  }
}




/*.mode{*/
/*  width: 100%;*/
/*  height: 100vh;*/
/*  overflow: hidden;*/
/*}*/